# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Model files (optional)
*.h5
